/* .selectedPage {
    background-color: rgb(48, 119, 54);
    font-weight: bold;
}  */

.pagination span {
    font-size: 8px;
    padding: 2px 5px;
    border-radius: 50%;
    color: white;
    font-weight: 400;
    cursor: pointer; 
}
.pagination {
/* display: flex;
justify-content: center; */
text-align: center;
}

.pageNumber {
    padding: 2px;
}

.pageNumber.selectedPage {
    background-color: rgb(48, 119, 54);
    font-weight: bold;
}

.paginatorBtn {
    margin: 0px 5px;
}