.postsBlock {
    padding: 10px;
}

.posts {
    margin-top: 10px;
}

textarea {
    width: 80%;
    height: 55px;
    opacity: 0.9;
    cursor: pointer;

}

button {
    cursor: pointer;
    padding: 3px 6px;
    opacity: 0.9;
    
}

button:hover {
    opacity: 1;
}

