
.header {
    grid-area: h;
    background-color: rgba(80, 80, 80, 0.755);
    padding-left: 35px;
    padding-top: 3px;
  }

  .header img {
    width: 50px;
  }

  .loginBlock {
    float: right;
    margin-right: 15px;
    margin-top: 10px;
  }

  .loginBlock a {
    color: white;
    text-decoration: none;
    border-radius: 40px;
    background-color: rgb(54, 54, 110);
    padding: 5px 10px;
    font-size: 10px;

  }

  /* .loginBlock a:hover {
    background-color: rgb(48, 119, 54);
  }
  
  */