.nav {
    grid-area: n;
    background-color: rgba(86, 88, 86, 0.785);
    padding-left: 20px;
    padding-top: 20px;
  }

.item {
  padding-left: 40px;
  padding: 10px;

}
 
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  border-radius: 40px;
  background-color: rgb(54, 54, 110);
  padding: 5px 10px;

}

a:hover {
  background-color: rgb(48, 119, 54);
}

.item a.active {
  background-color: rgb(48, 119, 54);
}