.app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;

  grid-template-areas:
    "h h"
    "n c"
  ;
}

.header {
  grid-area: h;
  background-color: green;
}

.nav {
  grid-area: n;
  background-color: silver;

}

.content {
  grid-area: c;
  background-color: silver;
  height: 800px;
  width: 1000px;

}

.content :first-child img {
  width: 100%;
}

.header img {
  width: 50px;
}