.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding-top: 13px;
}

.dialogsItems {
    padding: 5px;
}

.dialogsItems .active {
    color: gold;
}

.messages {
    padding: 10px;
}

.dialog {
    padding: 9px;
}

.dialogsItems {
    padding-left: 20px;
    padding: 10px;
}

.dialogsItems a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 40px;
    background-color: rgb(54, 54, 110);
    padding: 5px 10px;
    font-size: 10px;
}

.dialogsItems a:hover {
    background-color: rgb(48, 119, 54);
}

.dialogsItems a.active {
    background-color: rgb(48, 119, 54);
}