.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding-top: 13px;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: gold;
}

.messages {
    padding: 10px;
}

.dialog {
    padding: 9px;
}
